{% import _self as this %}
{% set css_highlight_color = '#111111' %}
{% set css_foreground_color = '#333333' %}
{% set css_background_color = '#E6E6E6' %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Faktura {{ invoice.id }}</title>
    <style>
        body {
            font-family: DejaVuSans;
            color: {{ css_foreground_color }};
        }
        table {
            width: 100%;
            border-spacing: 0;
        }
        td {
            padding: 3px 6px;
        }
        strong, th, dt {
            color: {{ css_highlight_color }};
        }
        .border_bottom {
            border-bottom: 1px solid {{ css_foreground_color }};
        }
        .with_background {
            background-color: {{ css_background_color }};
        }
        .hidden {
            display: none;
        }
        .qr_code {
            transform: rotate(45deg);
            position: absolute;
            top: 50px;
            right: 50px;
            width: 150px;
        }
        .title {
            text-align: center;
        }
        .title span {
            font-size: x-large;
            text-transform: uppercase;
            color: {{ css_highlight_color }};
        }
        .title small {
            font-size: x-small;
        }
        .seller {
            height: 100px;
        }
        .seller h2, .buyer h2, .payment h2 {
            color: {{ css_foreground_color }};
            font-size: xx-small;
        }
        .content h2 {
            font-size: medium;
            text-transform: uppercase;
            color: {{ css_highlight_color }};
        }
        .seller dl, .buyer dl, .payment dl {
            margin-top: 0;
        }
        .payment {
            float: right;
            width: 50%;
        }
        .payment, .buyer {
            height: 200px;
        }
        .footer {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            font-size: xx-small;
            border-top: 1px solid {{ css_foreground_color }};
            text-align: center;
            padding-top: 25px;
            padding-bottom: 25px;
            color: {{ css_foreground_color }};
            background: {{ css_background_color }};
        }
    </style>
</head>
<body>
<h1 class="hidden">Faktura {{ invoice.id }}</h1>

<div class="qr_code">
    <img src="{{ qr_code.getDataUri(600) }}" alt="QR Code" class="qr_code">
</div>

<div class="seller">
    <h2>Dodavatel</h2>
    {{ this.address(invoice.seller, invoice.buyer.country) }}
</div>

<h2 class="title">
    <span>Faktura {{ invoice.id }}</span>
    <br>
    <small>
        Vystavena dne {{ invoice.issueDate|date('d.m. Y') }}
    </small>
</h2>

<div class="payment">
    <h2>Platební údaje</h2>
    <dl>
        {% if invoice.seller.country == invoice.buyer.country %}
            <dt><strong>Bankovní účet</strong></dt>
            <dd>{{ invoice.seller.ban }}</dd>
        {% else %}
            <dt><strong>IBAN</strong></dt>
            <dd>{{ invoice.seller.iban }}</dd>
        {% endif %}
        <dt><strong>Variabilní symbol</strong></dt>
        <dd>{{ invoice.id }}</dd>
        <dt><strong>Datum splatnosti</strong></dt>
        <dd>{{ invoice.dueDate|date('d.m. Y') }}</dd>
    </dl>
</div>

<div class="buyer">
    <h2>Odběratel</h2>
    {{ this.address(invoice.buyer, invoice.seller.country) }}
</div>

<div class="content">
    <h2>{{ invoice.subject }}</h2>
    <table>
        <tr>
            <th class="border_bottom">Popis</th>
            <th class="border_bottom" style="width:100px">Cena</th>
            <th class="border_bottom" style="width:100px">Množství</th>
            <th class="border_bottom" style="width:150px">Celkem</th>
        </tr>
        {% for item in invoice.items %}
            <tr class="{% if loop.index % 2 %}with_background{% endif %}">
                <td class="border_bottom">{{ item.description }}</td>
                <td class="border_bottom" style="text-align: right;">{{ item.unitPrice|localizedcurrency(invoice.currency) }}</td>
                <td class="border_bottom" style="text-align: center;">{{ item.quantity|number_format(0) }} {{ item.unit }}</td>
                <td class="border_bottom" style="text-align: right;">{{ item.getTotalPrice()|localizedcurrency(invoice.currency) }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: right;">
                <strong>
                    {{ invoice.getTotalPrice()|localizedcurrency(invoice.currency) }}
                </strong>
            </td>
        </tr>
    </table>
</div>

<div class="footer">
    {{ invoice.seller.name }} ({{ invoice.seller.email }}),
    neplátce DPH,
    fyzická osoba podnikající dle živnostenského zákona<br>zapsaná v&nbsp;Živnostenském rejstříku,
    sp.&nbsp;značka {{ invoice.seller.registrationNumberInCompanyRegister }}.
</div>

</body>
</html>
{% macro address(contact, relativeToCountry) %}
    <dl>
        <dt>
            <strong>{{ contact.name }}</strong>
            {% if contact.identificationNumber %}
                <small>(IČ: {{ "%08d"|format(contact.identificationNumber) }})</small>
            {% endif %}
        </dt>
        <dd>
            {{ contact.addressLine1 }}<br>
            {% if contact.addressLine2 %}{{ contact.addressLine2 }}<br>{% endif %}
            {{ contact.city }} {{ contact.zipOrPostalCode }}<br>
            {% if contact.stateOrProvinceOrRegion %}{{ contact.stateOrProvinceOrRegion }}<br>{% endif %}
            {% if contact.country != relativeToCountry %}{{ contact.country }}{% endif %}
        </dd>
    </dl>
{% endmacro %}
