{% block content %}
    <table class="table table-bordered table-responsive table-striped">
        <tr>
            <th></th>
            <th class="text-center">cena za kus</th>
            <th class="text-center">kusů</th>
            <th class="text-center">celkem</th>
        </tr>
        {% set totalPrice = 0 %}
        {% for item in order.items %}
            <tr>
                <td>{{ item.title }}</td>
                <td class="text-right">{{ item.price|number_format(0, ',', ' ') }}&nbsp;Kč</td>
                <td class="text-right">{% block item_amount %}{{ item.amount }}{% endblock %}</td>
                <td class="text-right">{{ (item.price * item.amount)|number_format(0, ',', ' ') }}&nbsp;Kč</td>
            </tr>
            {% set totalPrice = totalPrice + (item.price * item.amount) %}
        {% endfor %}
        <tr>
            <td colspan="3" style="visibility: hidden"></td>
            <td class="text-right"><strong>{{ totalPrice|number_format(0, ',', ' ') }}&nbsp;Kč</strong></td>
        </tr>
    </table>
{% endblock %}
