{% extends "@MarkdownWeb/layout.base.html.twig" %}

{% block meta %}
    <base href="{{ (page.url ~ '#') | replace({((page.url ~ '#') | split('/') | last): ''}) | replace({'/app_dev.php': ''}) }}">

    {% if page.tags is defined %}
        <meta name="keywords" content="{{ page.tags | join(', ') }}">
    {% endif %}

    {% if page.description is defined %}
        <meta name="description" content="{{ page.description }}">
        <meta property="og:description" content="{{ page.description }}">
    {% endif %}

    <meta name="author" content="{{ site.author }}">

    <meta property="og:title" content="{{ page.title }}">
    <meta property="twitter:title" content="{{ page.title }}">

    {{ parent() }}

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset("style.css") }}">
{% endblock %}

{% block body %}
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ base_uri }}">{{ site.title }}</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li{% if not(url starts with base_uri ~ "shop/") %} class="active"{% endif %}><a href="{{ base_uri }}">web</a></li>
                    <li{% if url starts with base_uri ~ "shop/" %} class="active"{% endif %}><a href="{{ base_uri }}shop/">e-shop</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div id="menu" class="col-xs-12 col-sm-3">
                {% block menu %}
                    <div class="list-group">
                        <a href="{{ base_uri }}" class="list-group-item active">Home</a>
                    </div>
                {% endblock %}
            </div>

            <div id="content" class="col-xs-12 col-sm-9 active">
                <p class="pull-right visible-xs">
                    <button id="toggle-menu" type="button" class="btn btn-primary">
                        <span class="sr-only">Menu</span>
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                </p>
                {% if page.jumbotron is defined %}
                    <section class="jumbotron">
                        <h1>{{ page.jumbotron.title }}</h1>
                        <p>{{ page.jumbotron.more }}</p>
                    </section>
                {% endif %}
                <section>
                    {% block content %}{% endblock %}
                </section>
            </div>
        </div>

        <hr>

        <footer>
            <p class="text-muted"><span class="year">{{ "now" | date("Y") }}</span> &copy; {{ site.author }}</p>
        </footer>

    </div>

    <script type="application/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"
            integrity="sha256-rsPUGdUPBXgalvIj4YKJrrUlmLXbOb6Cp7cdxn1qeUc="
            crossorigin="anonymous"></script>
    <script type="application/javascript"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script type="application/javascript" src="{{ asset("script.js") }}"></script>
{% endblock %}
