{% extends "@MarkdownWeb/layout.base.html.twig" %}

{% block meta %}
    <base href="{{ (page.url ~ '#') | replace({((page.url ~ '#') | split('/') | last): ''}) | replace({'/app_dev.php': ''}) }}">

    {% if page.tags is defined %}
        <meta name="keywords" content="{{ page.tags | join(', ') }}">
    {% endif %}

    {% if page.description is defined %}
        <meta name="description" content="{{ page.description }}">
        <meta property="og:description" content="{{ page.description }}">
    {% endif %}

    <meta name="author" content="{{ site.author }}">

    <meta property="og:title" content="{{ page.title }}">
    <meta property="twitter:title" content="{{ page.title }}">

    {{ parent() }}

    {% block styles %}
        <link rel="stylesheet" href="{{ asset("bundles/app/bootstrap/css/bootstrap.min.css") }}">
        <link rel="stylesheet" href="{{ asset("style.css") }}">
    {% endblock %}
{% endblock %}

{% block body %}
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% block brand %}
                    <a class="navbar-brand" href="{{ base_uri }}">{{ site.title }}</a>
                {% endblock %}
            </div>
            <div id="navbar" class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li{% if not(url starts with base_uri ~ "produkty/") %} class="active"{% endif %}><a
                                href="{{ base_uri }}">fyzioterapie</a></li>
                    <li{% if url starts with base_uri ~ "produkty/" %} class="active"{% endif %}><a
                                href="{{ base_uri }}produkty/">produkty</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div id="menu" class="col-xs-12 col-sm-3">
                {% block menu %}
                    <div class="list-group">
                        <a href="{{ base_uri }}" class="list-group-item active">Home</a>
                    </div>
                {% endblock %}
            </div>

            <div id="content" class="col-xs-12 col-sm-9 active">
                <p class="pull-right visible-xs">
                    <button id="toggle-menu" type="button" class="btn btn-primary">
                        <span class="sr-only">Menu</span>
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                </p>
                {% if page.jumbotron is defined %}
                    <section class="well jumbotron">
                        <h1>{{ page.jumbotron.title }}</h1>
                        {% if page.jumbotron.more is defined %}
                            <p>{{ page.jumbotron.more }}</p>
                        {% endif %}
                    </section>
                {% endif %}
                <section>
                    {% block content %}{% endblock %}
                </section>
            </div>
        </div>

        <hr>

        <footer>
            <p class="text-muted"><span class="year">{{ "now" | date("Y") }}</span> &copy; {{ site.author }}</p>
        </footer>

    </div>

    {% block scripts %}
        <script type="application/javascript" src="{{ asset("bundles/app/jquery.min.js") }}"></script>
        <script type="application/javascript" src="{{ asset("bundles/app/bootstrap/js/bootstrap.min.js") }}"></script>
        <script type="application/javascript">
            var OrderAPI = {
                url: {
                    get: "{{ url('order_api_get')|escape('js') }}",
                    add: "{{ url('order_api_add')|escape('js') }}",
                    remove: "{{ url('order_api_remove')|escape('js') }}",
                    step_1: "{{ url('order_step_1')|escape('js') }}",
                    step_2: "{{ url('order_step_2')|escape('js') }}",
                    step_3: "{{ url('order_step_3')|escape('js') }}"
                }
            };
        </script>
        <script type="application/javascript" src="{{ asset("bundles/order/OrderAPI.js") }}"></script>
        <script type="application/javascript" src="{{ asset("script.js") }}"></script>
    {% endblock %}

    <div class="modal fade js__modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="h4 modal-title js__modal_title">&ndash;</div>
                </div>
                <div class="modal-body">
                    <div class="js__modal_loading">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </div>
                    <div class="js__modal_content">&ndash;</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
