{% extends "@MarkdownWeb/list.html.twig" %}

{% block list %}
    <div class="row">
        {% block list_content %}{{ parent() }}{% endblock %}
    </div>
{% endblock %}

{% block item %}
    <div class="shop-preview col-xs-12 col-sm-6 col-md-4">
        {% block item_content %}
            <h2 class="h4">
                <a href="{{ item.url }}">
                    {{ item.title }}
                </a>
            </h2>
            <div>
                <span class="shop-price pull-right label label-primary">{{ item.price|number_format(0, ',', ' ') }}&nbsp;Kč</span>
                <img src="{{ item.url[:-4] }}png" class="img-thumbnail img-responsive">
                <div class="clearfix">
                    <label class="input-group input-group-sm pull-right" style="max-width: 125px">
                        <span class="input-group-btn">
                            <button class="btn btn-primary js__add_to_order" type="button" data-url="{{ item.url }}">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                <span class="sr-only">Do košíku</span>
                            </button>
                        </span>
                        <input type="number" class="form-control text-right" value="1">
                        <span class="input-group-addon">ks</span>
                    </label>
                </div>
            </div>
            <p>{{ item.description }}</p>
        {% endblock %}
    </div>
{% endblock %}
