{% extends "@MarkdownWeb/web.html.twig" %}

{% block content %}
    {{ parent() }}
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
            {% set backToGallery %}
                <div class="row">
                    <div class="col-xs-12">
                        <a href="javascript:window.history.back();" class="btn btn-primary">
                            <span class="glyphicon glyphicon-folder-open"></span>
                            Zpět do galerie
                        </a>
                    </div>
                </div>
            {% endset %}
            {{ backToGallery }}
            <div class="row">
                <div class="col-xs-12">
                    <img src="{{ page.url[:-4] }}jpg" alt="{{ page.title }}" class="img-thumbnail img-responsive">
                </div>
            </div>
            {{ backToGallery }}
        </div>
    </div>
{% endblock %}
